html,body { 
        height:100%; 
        margin:0;
        padding:0;
#        background: #d9d8d6;
        background: black;
}

img.cam { 
#        width: 320x;
#	height: 240px;
	width: 352px;
	height: 265px;
}

img.rotate180 { 
	width: 352px;
	height: 265px;
	-webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
}


table.printer {
	width:100%;
        border: 1px solid white;
}

table.printer th {
        background-color:#54565A;
        color:#d9d8d6;
}


td.label {
        font-weight:bold;
        font-size:15px;
        background-color:#54565A;
        color:#d9d8d6;
        text-align: right;
        border: none;
}


td.info {
        font-weight:bold;
        font-size:15px;
        background-color:#D9D8D6;
        text-align: left;
        border: none;
}


table.camsdown { 
	width:100%;
}

table.camsdown td {
	color: red;
	font-weight:normal;
        font-size:20px;
	background-color: #54565A;
	text-align: center;
}

table.stats { 
	width: 450px;
}

a { 
   color:white;
   font-size:15px;
   text-decoration:none;
}

a:hover {
        color:white;
        text-decoration:underline;
}

a:visited {
        color:white;
        text-decoration:none;
}

